# Database Connection Strings
IDENTITY_DB_CONNECTION=Host=aws-1-ap-northeast-2.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.haincorzywjystwbuomf;Password=wMG6Z40CuFsvx7eG;SslMode=Require;TrustServerCertificate=true
PAYMENT_DB_CONNECTION=Host=aws-1-ap-northeast-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.cgemkhxgwzdwvrwmonvr;Password=mxVeZqKjLS10DOPv;SslMode=Require;TrustServerCertificate=true

# JWT Keys
JWT_KEY=Edu_Smart_Secret_Key_At_Least_32_Bytes_Long
JWT_ISSUER=EduSmartAPI
JWT_AUDIENCE=EduSmartWPF

# Payment Secrets
VNPAY_HASH_SECRET=G8WFG003FREX57T1ABPOFC6J16GRWV8F
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
PAYPAL_SECRET_KEY=EHjhNisT7H_Y4DHLemc6LVw-7bn3uo-zdB6aHzL30xd-WjYkosPum6Pp_I2L9fgd6MbcQEkuVx6dnPmO

# Firebase service account JSON strings (Flatten JSON credentials file contents into a single line)
FIREBASE_CREDENTIALS_JSON_COURSE=
FIREBASE_CREDENTIALS_JSON_NOTIFICATION=
FIREBASE_CREDENTIALS_JSON_COMMENT=
FIREBASE_CREDENTIALS_JSON_EXAM=
